#talot {
    width: 600px;
    height: 800px;
    overflow: auto;
    overflow-wrap: auto;
    margin: 10px;
}

.talo {
    display: block;
    border: 1px solid lightgrey;
    width: 570px;
    min-height: 165px;
    font-family: sans-serif;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.talo > img {
    width: 225px;
    height: 160px;
    margin: 2px;
    float: left;
}
p, h2 {
    padding-left: 227px;
}

p h2 {
    font-size: 14px;
    font-style: bold;
}

p.kuvaus {
    font-size: 10px;
    font-style: italic;
}
