body {
    width: 96%;
    font-family: sans-serif;
}

header {
    width: 100%;
    text-align: center;
}
header > * {
    display: block;
}

h1 {
    margin-bottom: 0;
}

h1 + p {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
}


img {
    max-width: 100%;
}

aside {
    font-size: 0.75em;
    font-style: italic;
}

.skip-to-content {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em 0;
    background: beige;
}

.nav-item {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em 0;
    display: block;
    background: lightgrey;
}

@media screen and (min-width: 520px) {
    header {
        text-align: left;
    }

    header > * {
        display: inline;
    }

    li {
        display: inline;
    }

    ul {
        float: right;
    }

    main {
        float: left;
        width: 70%;
    }

    aside {
        float: right;
        width: 30%;
    }

    .skip-to-content {
        display: none;
    }

    .nav-item {
        display: inline;
        background: none;
    }
}
