body {
    text-align: center;
    background: #555555;
}

form {
    width: 450px;
    font-family: sans-serif;
    margin: auto;
    text-align: left;
}

label, input, h1 {
    display: block;
}

input {
    width: 95%;
}

label {
    margin-top: 1em;
}

h1+label {
    margin-top: 0;
}

h1 {
    font-size: 1em;
    margin-bottom: 0;
    padding-left: 1em;
}

.form-group {
    padding: 0 10px 10px;
    margin-top: 2em;
    background: #e0e0e0;
    border: 1px solid black;
    border-radius: 10px;
}

.form-group > h1 {
    position: relative;
    bottom: 20px;
    background: #53949c;
    border: 1px solid black;
    border-radius: 10px;
    width: 45%;
    color: white;
    padding: 2px;
    padding-left: 1em;
}

input {
    border: 0;
    color: blue;
}

.center {
    text-align: center;
}

.inline {
    display: inline;
    width: auto;
}

input[type=submit] {
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background: #53949c;
    color: white;
    margin-top: 1em;
    padding: 3px;
    display: flex;
    font-size: 1em;
    white-space: normal;
}
